form {
  display: flex;
  flex-flow: column nowrap;
}

.form__h3 {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

fieldset {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0.5rem 0;
  border: none;
}

input,
textarea {
  font-family: "Heebo";
  font-weight: var(--weightLighter);
  font-size: 0.9rem;
  letter-spacing: var(--spacingSmaller);
  width: 90%;
  border: none;
  border-radius: var(--borderRadius);
  background-color: var(--lighterGray);
  box-shadow: var(--shadowCentered);
  padding: 5px 10px;
  outline: none;
}

textarea {
  border-radius: 10px;
}

input:invalid {
  border: 1px solid var(--red);
}

input:focus {
  background-color: var(--gray);
}

.btn-form {
  margin-top: 20px;
  width: 50%;
  align-self: center;
}

.btn-form:hover {
  color: var(--white);
  background-color: var(--vislitBlue);
}

.btn-form:active {
  background-color: var(--vislitDarkBlue);
}

/* placed on a <label> tag that wraps the checkbox input */
/* based on https://www.youtube.com/watch?v=y1ATUFJyLaI */
.checkbox__container {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.checkbox__container .checkmark {
  width: 100%;
  height: 100%;
  border: 3px solid gray;
  display: inline-block;
  border-radius: 30px;
}
