/* CSS-derived icons */

/* Plus Icon */
.plus__container {
  display: flex;
  flex-flow: row nowrap;
}

.plus__container:hover > .plus::after,
.plus::before {
  background-color: var(--lightDarkGray);
}

.plus__container:hover > .plus::before {
  background-color: var(--lightDarkGray);
}

.plus::after,
.plus::before {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--white);
  transition: var(--btnHover);
}

.plus::after {
  transform: rotate(90deg) translate(-2px, 0px);
}

.plus::before {
  transform: translate(0px, -1.4px);
}

/* X Icon */
.x__container {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
}

.x__container:hover > .icon__x::after,
.icon__x::before {
  background-color: var(--darkBlack);
}

.x__container:hover > .icon__x::before {
  background-color: var(--darkBlack);
}

.icon__x::after,
.icon__x::before {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--darkGray);
  transition: var(--btnHover);
}

.icon__x::after {
  transform: rotate(45deg) translate(-1.4px, 0px);
}

.icon__x::before {
  transform: rotate(-45deg) translate(0px, -1.4px);
}

/* Down-facing Arrow */
/* arrow buttons */
.arrow__container--down {
  display: flex;
  background-color: var(--lightGray);
  padding: 10px 0;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: flex-end;
  align-items: center;
}

.arrow__container--down:hover > .arrow--down::after,
.arrow--down::before {
  background-color: var(--black);
}

.arrow__container--down:hover > .arrow--down::before {
  background-color: var(--black);
}

.arrow__container--down:hover {
  background-color: var(--lightestDarkGray);
}

.arrow__container--down:active {
  background-color: var(--lightDarkGray);
}

.arrow--down::after,
.arrow--down::before {
  content: "";
  display: block;
  width: 13px;
  height: 3.5px;
  border-radius: 10px;
  background-color: var(--darkGray);
}

.arrow--down::after {
  transform: rotate(45deg) translate(-4px, 1px);
}

.arrow--down::before {
  transform: rotate(-45deg) translate(2px, 4px);
}

/* Up-facing Arrow */
.arrow__container--up {
  display: flex;
  background-color: var(--lightGray);
  padding: 10px 0;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: flex-end;
  align-items: center;
  transform: rotate(180deg);
  box-shadow: var(--shadowCenteredInverted);
}

.arrow__container--up:hover > .arrow--up::after,
.arrow--up::before {
  background-color: var(--black);
}

.arrow--up::after,
.arrow--up::before {
  content: "";
  display: block;
  width: 18px;
  height: 3.5px;
  border-radius: 10px;
  background-color: var(--darkGray);
}

.arrow--up::after {
  transform: rotate(-35deg) translate(-6px, -5px);
}

.arrow--up::before {
  transform: rotate(35deg) translate(6px, -1px);
}

/* Side-bar Arrow */
.arrow__container--sidebar {
  display: flex;
  background-color: var(--darkestGray);
  height: 50px;
  margin-top: 10px;
  padding: 10px 0;
  padding-right: 30px;
  padding-left: 35px;
  justify-content: flex-end;
  align-items: center;
}

.arrow__container--sidebar:hover > .arrow--sidebar::after,
.arrow--sidebar::before {
  background-color: var(--lightDarkGray);
}

.arrow__container--sidebar:hover > .arrow--sidebar::before {
  background-color: var(--lightDarkGray);
}

.arrow__container--sidebar:hover {
  background-color: var(--lightestBlack);
}

.arrow__container--sidebar:active {
  background-color: var(--lighterBlack);
}

.arrow--sidebar::after,
.arrow--sidebar::before {
  content: "";
  display: block;
  width: 18px;
  height: 3.5px;
  border-radius: 10px;
  background-color: var(--white);
  margin: 3px 0px;
  transition: 0.3s;
}

.arrow--sidebar::after {
  transform: rotate(-29deg) translate(-2px, 0px);
}

.arrow--sidebar::before {
  transform: rotate(-153deg) translate(1px, 0px);
}

.arrow--sidebar--active::after {
  transform: rotate(-145deg) translate(-7px, 0px);
}

.arrow--sidebar--active::before {
  transform: rotate(-35deg) translate(4px, 4px);
}
