/* CSS-derived icons */
.plus__container {
  display: flex;
  flex-flow: row nowrap;
}

.plus__container:hover > .plus::after,
.plus::before {
  background-color: var(--lightDarkGray);
}

.plus__container:hover > .plus::before {
  background-color: var(--lightDarkGray);
}

.plus::after,
.plus::before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  border-radius: 10px;
  background-color: var(--white);
  transition: var(--btnHover);
}

.plus::after {
  transform: rotate(90deg) translate(2.5px, 5px);
}

.plus::before {
  transform: translate(-5px, 5.5px);
}
