@import "./styles/cards.css";
@import "./styles/forms.css";
/* fonts, :root, default-overrides */
@font-face {
  font-family: "Noto";
  src: url(./assets/fonts/NotoSerif-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Noto";
  src: url(./assets/fonts/NotoSerif-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Heebo";
  src: url(./assets/fonts/Heebo-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "Heebo";
  src: url(./assets/fonts/Heebo-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Heebo";
  src: url(./assets/fonts/Heebo-Medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Heebo";
  src: url(./assets/fonts/Heebo-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Heebo";
  src: url(./assets/fonts/Heebo-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Heebo";
  src: url(./assets/fonts/Heebo-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Heebo";
  src: url(./assets/fonts/Heebo-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Heebo";
  src: url(./assets/fonts/Heebo-Black.ttf);
  font-weight: 900;
}

/* Global variables */
:root {
  /* Fonts */
  --fontFamilySans: "Heebo", sans-serif;
  --fontFamilySerif: "Noto", serif;
  --weightLighter: 200;
  --weightLight: 300;
  --weightRegular: 400;
  --weightBold: 500;
  --weightBolder: 600;
  --weightBoldest: 700;
  --weightBlack: 800;
  --weightBlackest: 900;
  --spacingSmaller: 0.05em;
  --spacingSmall: 0.1em;
  --spacingMedium: 0.2em;

  /* Colors */
  --darkBlack: #252525;
  --black: #333333;

  --darkestGray: #434343;
  --darkGray: #484848;
  --gray: #f0f0f0;
  --lightGray: #e6e6e6;
  --lighterGray: #f7f7f7;

  /* If darkestWhite changes, update the background.js to new background color */
  --darkestWhite: #f6f6f6;
  --darkWhite: #cecece;
  --white: #ffffff;

  --vislitDarkBlue: #2b6e6a;
  --vislitBlue: #76cdc7;
  --vislitLightBlue: #e5f6f4;

  --red: rgb(241, 116, 116);

  /* Borders */
  --borderRadius: 20px;

  /* Shadows */
  --shadowCentered: 0 0 5px rgba(0, 0, 0, 0.1);
  --shadowRight: 2px 0 5px rgba(0, 0, 0, 0.1);

  /* transitions */
  --btnHover: all 0.2s;
}

/* Default overrides */
body {
  font-family: "Heebo";
  font-weight: var(--weightLight);
  background-color: var(--darkestWhite);
  color: var(--black);
  margin: 0;
  height: 100vh;
  width: 100vw;
}

h2 {
  font-weight: var(--weightLight);
  letter-spacing: var(--spacingSmall);
}

h3 {
  font-weight: var(--weightLight);
  letter-spacing: var(--spacingSmaller);
}

hr {
  border: 0 solid;
  height: 0.3em;
  margin: 0 0.2em 1em 0.2em;
  border-radius: var(--borderRadius);
  background-color: var(--darkGray);
  border-color: var(--darkGray);
}

button {
  border: none;
  border-radius: var(--borderRadius);
  background: transparent;
  cursor: pointer;
  font-weight: var(--weightBold);
  box-shadow: var(--shadowCentered);

  font-size: 0.8em;
  margin: 0;
  padding: 0.5em 1em;
  transition: var(--btnHover);
}

a:focus,
button:focus {
  outline: 1px solid var(--vislitBlue);
}

.btn-light {
  background-color: var(--gray);
}

.btn-dark {
  color: var(--white);
  background-color: var(--darkGray);
}

.btn-dark:hover {
  background-color: var(--darkestGray);
}

.btn-dark:active {
  background-color: var(--darkBlack);
}

.btn-none {
  box-shadow: none;
  border-radius: 0;
}
